@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.title {font-family: 'Lobster', cursive;font-size: 30px;color: rgb(243, 240, 240);}
body {background-color: rgb(56, 19, 80); height: 100vh;}
.bord {
    border-bottom: solid 1px rgb(151, 151, 151);justify-content: center;
}
    